name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build and Push the Docker image
      run: 
        docker build . --file Dockerfile --tag pmghetto/ml-project:latest && 
        docker push pmghetto/ml-project:latest